<!--
	Author: 
	Date: 

	Description: Template Description
-->

<div class='row'>
	<div class='one whole box white'>
		<div class='row'>
	  		<div class="one tenth list-group-item active">
					<img src='/images/v-small.jpg' alt='v sign' />
			</div>
			<div class="nine tenth list-group-item active">
				<h4>{{content}}</h4>
			</div>
		</div>
	</div>
</div>


