<div class='row'>
{{#if quote10}}
<div class='box black one fourth fadeOutLeftBig animated'>
{{quote0}}
</div>
{{/if}}
{{#if quote1}}
<div class='box black one whole bounceInUp animated'>
<h4 align='center' class='orange'>...{{quote1}}...</h4>
</div>
{{/if}}
{{#if quote5}}
<div class='box one fourth fadeInRightBig animated'>
{{quote2}}
</div>
{{/if}}
</div>