<!--
	Author: 
	Date: 

	Description: Template Description
-->

<div class='row' id="content">
	
	<div class="panel panel-default">
	  <div class="box white">
	    <div class='row'>
		  		<div class="one tenth list-group-item active">
						<img src='/images/v-small.jpg' alt='v sign' />
				</div>
				<div class="nine tenth list-group-item active">
					<h4>{{content}}</h4>
				</div>
			</div>
			
	  </div>
	  <div class="panel-body">
	  	<div class='one half padded animated bounceInLeft'>
	    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/133048724&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>  
	   	</div>
	   	<div class='one half padded animated fadeInRight'>
	   	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/133048714&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	   </div>
	  </div>
	</div>

  	
</div>

