<!--
	Author: 
	Date: 

	Description: Template Description
-->

<div class='row' id="content">
	
	<div class="panel panel-default">
	  <div class="box white">
	    <div class='row'>
		  		<div class="one tenth list-group-item active">
						<img src='/images/v-small.jpg' alt='v sign' />
				</div>
				<div class="nine tenth list-group-item active">
					<h4>{{content}}</h4>
				</div>
			</div>
			
	  </div>
	  <div class="panel-body">
	  	{{#each sounds}}
	  		<div class='one half padded animated bounceInLeft'>
	  			{{{iframe}}}
	  		</div>
	  	{{/each}}
	  </div>
	</div>

  	
</div>

